@*
* This template provides a sort of landing page telling the visitor an account is required.
* The first arguments specifies the web title to use.
*@
@(title: String)(implicit session: Session)

    @main(title, session) {
        @defining(play.core.PlayVersion.current) { version =>

            <div class="limiter">
                <div class="container-login100">
                    <div class="wrap-login100">
                        <div class="login100-pic">
                            <img alt="CarLovers logo" src="@routes.Assets.versioned("images/logo.png")">
                        </div>

                        <div class="login100-form" id="user-login-form">
                            <span class="login100-form-title">
                                Content hidden
                            </span>
                            <div class="text-center pb-20">
                                <p class="text-center">
                                    The content of this website is only visible to registered users.</p>

                            </div>


                            <form action="@routes.UserController.showLogin()">
                                <div class="container-login100-form-btn">
                                    <button class="login100-form-btn" type="submit" value="Login">
                                        Login
                                    </button>
                                </div>
                            </form>

                            <form action="@routes.UserController.showRegister()">
                                <div class="container-login100-form-btn">
                                    <button class="login100-form-btn" type="submit" value="Login">
                                        Register for free
                                    </button>
                                </div>
                            </form>

                        </div>


                    </div>
                </div>
            </div>
        }
    }