@*
* This template provides the registration page.
* The first arguments specifies the web title to use, the second the registration form and the last the postUrl of that form.
*@
@import models.user.User
@(welcome: String, registerForm: Form[User], registerFormPostUrl: Call)(implicit session: Session, request: MessagesRequestHeader)
@import inputs.inputTextWithIcon
@import helper.FieldConstructor
@implicitField = @{
    FieldConstructor(inputTextWithIcon.f)
}

@main(welcome, session) {
    @defining(play.core.PlayVersion.current) { version =>

        <div class="limiter">
            <div class="container-login100">
                <div class="wrap-login100">
                    <div class="login100-pic">
                        <img alt="CarLovers logo" src="@routes.Assets.versioned("images/logo.png")">
                    </div>

                    <div class="login100-form" id="user-login-form">
                        <span class="login100-form-title">
                            Register on CarLovers.be
                        </span>
                        <div class="text-center pb-20">
                            <a class="small-text" href="@routes.UserController.showLogin()">
                                or login to your existing account
                                <i aria-hidden="true" class="fas fa-long-arrow-alt-right"></i>
                            </a>
                        </div>

                        @request.flash.data.map { case (name, value) =>
                            @if(name == "error") {
                                <div class="alert alert-danger">
                                @value
                                </div>
                            } else {
                                <div class="alert alert-info">
                                @value
                                </div>
                            }
                        }

                        @* Global errors are not tied to any particular form field *@
                        @if(registerForm.hasGlobalErrors) {
                            @registerForm.globalErrors.map { error: FormError =>
                                <div class="alert alert-danger">
                                    @error.message
                                </div>
                            }
                        }

                        @helper.form(registerFormPostUrl, Symbol("id") -> "user-register-form") {
                            @helper.CSRF.formField
                            @helper.inputText(
                                registerForm("username"),
                                Symbol("_label") -> "fa-user",
                                Symbol("placeholder") -> "Username",
                                Symbol("id") -> "username",
                                Symbol("class") -> "input100"
                            )
                            @helper.inputPassword(
                                registerForm("password"),
                                Symbol("_label") -> "fa-lock",
                                Symbol("placeholder") -> "Password",
                                Symbol("id") -> "Password",
                                Symbol("class") -> "input100"
                            )

                            <div class="container-login100-form-btn">
                                <button class="login100-form-btn" type="submit" value="Register">
                                    Register
                                </button>
                            </div>
                        </div>
                    }

                </div>
            </div>
        </div>
    }
}