@*
* This template provides a simple post HTML for the overview list on the home page.
*@
@import models.post.PostWithInfo
@(postWithInfo: PostWithInfo)

<div class="row post-list-item">
    <div class="col-md-3">
        <h4>Post by @postWithInfo.post.author</h4>
        <p class="text-justify post-list-item-description">
            @postWithInfo.post.description
        </p>
        <small>Posted on: @postWithInfo.post.date_added.toString</small>

    </div>
    <div class="col-md-6 post-list-item-photo">
        <img alt="Post foto" src="@routes.Assets.versioned("images/posts/" + postWithInfo.post.image_filename)">
    </div>
    <div class="col-md-3">
        <a class="post-list-item-like" title="Like">
            <i class="far fa-heart"></i> XXX people like this. </a>

        <div class="post-list-item-comments pb-20">
        @for(comment <- postWithInfo.comments) {
            @listItems.commentListItem(comment)
        }
        </div>

        <a class="post-read-more" href="@routes.UserController.showRegister()">
            Read more
            <i aria-hidden="true" class="fas fa-long-arrow-alt-right"></i>
        </a>

    </div>
</div>