@*
* This template provides a simple single post list item HTML for a single post of an overview list.
* Expects a PostWithInfo that should be displayed and session to have access to user cookies.
* Should not be used as "standalone" page.
*@
@import models.post.PostWithInfo
@import java.time.format.FormatStyle
@import java.time.format.DateTimeFormatter
@(postWithInfo: PostWithInfo, session: Session)

<div class="row post-list-item">
    <div class="col-md-3">
        <h4>Post by <a class="unset-color" href="@routes.UserController.showProfile(postWithInfo.post.author)">@postWithInfo.post.author</a></h4>
        <p class="text-justify post-list-item-description">
        @postWithInfo.post.description
        </p>
        <small>Posted on: @postWithInfo.post.date_added.format(DateTimeFormatter.ofLocalizedDate(FormatStyle.LONG))</small>

    </div>
    <div class="col-md-6 post-list-item-photo">
        <a title="Read more" href="@routes.PostController.showPost(postWithInfo.post.id)">
            <img alt="Post photo" src="@routes.Assets.versioned("images/posts/" + postWithInfo.post.image_filename)">
        </a>
    </div>
    <div class="col-md-3">
        <div class="post-list-item-comments pb-20">
        @if(postWithInfo.comments.isEmpty) {
            <div>
                <p class="comment"><b>Info</b>: This post has no comments yet.</p>
            </div>
        } else {
            @for(comment <- postWithInfo.comments) {
                @listItems.commentListItem(comment)
            }
        }
        </div>

        <a class="post-read-more" href="@routes.PostController.showPost(postWithInfo.post.id)">
            Read more
            <i aria-hidden="true" class="fas fa-long-arrow-alt-right"></i>
        </a>

        @forms.postLikeButtonAndCount(postWithInfo, session)

    </div>
</div>