@*
* This template provides a simple set of buttons for a post edits options
* Expects a PostWithInfo for which edit information should be shown if user from session is author.
* Should not be used as "standalone" page.
*@
@import models.post.PostWithInfo
@(postWithInfo: PostWithInfo, session: Session)
@if(session.get(models.Global.SESSION_USERNAME_KEY).isDefined &&
        postWithInfo.post.author == session.get(models.Global.SESSION_USERNAME_KEY).get) {

    <a class="post-read-more mt-20" href="@routes.PostController.processPostDeleteAttempt(postWithInfo.post.id)">
        Delete
        <i aria-hidden="true" class="fas fa-trash"></i>
    </a>

    <a class="post-read-more" href="@routes.PostController.showEditPostVisibility(postWithInfo.post.id)">
        Change visibility
        <i aria-hidden="true" class="fas fa-eye"></i>
    </a>
}


