@*
* This template provides a simple comment icon and amount HTML for a PostWithInfo item.
* Expects a PostWithInfo for which comment icon and amount should be displayed and session to have access to user cookies.
*@
@import models.post.PostWithInfo
@(postWithInfo: PostWithInfo, session: Session)
    @if(session.get(models.Global.SESSION_USERNAME_KEY).isDefined &&
            !postWithInfo.comments.exists(_.author == session.get(models.Global.SESSION_USERNAME_KEY).get)) {
        <i class="far fa-comment push-right-icon"></i>
        @postWithInfo.comments.length comment(s).
    } else {
        <i class="fa fa-comment liked push-right-icon"></i>
        @postWithInfo.comments.length comment(s) including yours.
    }


