@*
* This template provides a template for a page of a specific post passed as second argument.
* The first arguments specifies the web title to use.
*@
@import models.post.PostWithInfo
@import models.comment.Comment
@(title: String, postWithInfo: PostWithInfo, commentForm: Form[Comment], commentFormPostUrl: Call)(implicit session: Session, request: MessagesRequestHeader)
@import inputs.inputTextWithIcon
@import helper.FieldConstructor
@implicitField = @{
    FieldConstructor(inputTextWithIcon.f)
}

@main(title, session) {
    @defining(play.core.PlayVersion.current) { version =>
        <div class="single-post-page">
            <div class="single-post-post">
                <div class="row bb pb-20">
                    <div class="col-md-9">
                        <h1>Post by @postWithInfo.post.author</h1>
                        <small>Posted on: @postWithInfo.post.date_added.toString</small>
                    </div>
                    <div class="col-md-3 bl-md">
                    @forms.postLikeButtonAndCount(postWithInfo, session)
                    </div>
                </div>

                <div class="single-post-image">
                    <img alt="Post photo" src="@routes.Assets.versioned("images/posts/" + postWithInfo.post.image_filename)">
                </div>

                <div class="single-post-description">
                    <p>@postWithInfo.post.description</p>
                </div>

            </div>

            <div class="single-post-comments">
                <div class="row bb pb-20 mb-20">
                    <div class="col-md-9">
                        <h2>Comments on this post</h2>
                        <small>Share your thoughts!</small>
                    </div>
                    <div class="col-md-3 bl-md post-comment-meta">
                    @posts.postCommentIconAndCount(postWithInfo, session)
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6">
                    @for(comment <- postWithInfo.comments) {
                        @listItems.commentListItem(comment)
                    }
                    </div>


                    <div class="col-md-6 bl-md">
                        <h2>Share your thoughts</h2>
                        <small>Let people know what you think!</small>


                        @request.flash.data.map { case (name, value) =>
                            @if(name == "error") {
                                <div class="alert alert-danger">
                                @value
                                </div>
                            } else {
                                <div class="alert alert-info">
                                @value
                                </div>
                            }
                        }

                        @* Global errors are not tied to any particular loginForm field *@
                        @if(commentForm.hasGlobalErrors) {
                            @commentForm.globalErrors.map { error: FormError =>
                                <div class="alert alert-danger">
                                    @error.message
                                </div>
                            }
                        }

                        @helper.form(commentFormPostUrl, Symbol("id") -> "user-login-form") {
                            @helper.CSRF.formField
                            @helper.inputText(
                                commentForm("post_id"),
                                Symbol("class") -> "hidden"
                            )
                            @helper.inputText(
                                commentForm("author"),
                                Symbol("class") -> "hidden"
                            )
                            @helper.inputText(
                                commentForm("date_added"),
                                Symbol("class") -> "hidden"
                            )
                            @helper.inputText(
                                commentForm("text"),
                                Symbol("_label") -> "fa-comment",
                                Symbol("placeholder") -> "Type your comment",
                                Symbol("id") -> "comment",
                                Symbol("class") -> "input100"
                            )

                            <div class="container-login100-form-btn">
                                <button class="login100-form-btn" type="submit" value="comment">
                                    Place new comment
                                </button>
                            </div>
                        </div>
                    }

                </div>

            </div>

        </div>
    }
}