@*
* This sub-template provides a simple like button and like amount HTML.
* Expects a PostWithInfo for which like should be displayed and session to have access to user cookies.
* Should not be used as "standalone" page.
*@
@import models.post.PostWithInfo
@(postWithInfo: PostWithInfo, session: Session)


<a class="post-list-item-like" title="Like" href="@routes.PostController.processLikeAttempt(postWithInfo.post.id)">
@if(session.get(models.Global.SESSION_USERNAME_KEY).isDefined &&
        !postWithInfo.likes.exists(_.liker == session.get(models.Global.SESSION_USERNAME_KEY).get)) {
    <i class="far fa-heart push-right-icon"></i>
    @postWithInfo.likes.length CarLover(s) liked this.
} else {
    <i class="fa fa-heart liked push-right-icon"></i> You and @(postWithInfo.likes.length - 1) other(s) liked this.
}
</a>


