@*
* This template provides the header and footer of the website
* and allows for content to be placed in the body.
*@
@(title: String, session: Session)(content: Html)
<!DOCTYPE html>
<html lang="en">
    <head>
        <title>@title | CarLovers</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="shortcut icon" type="image/x-icon" href="@routes.Assets.versioned("images/favicon.ico")">
        <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
        <link rel="stylesheet" media="screen" href='@routes.Assets.versioned("stylesheets/main.css")'>
        <script
        src="https://code.jquery.com/jquery-3.6.0.min.js"
        integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
        crossorigin="anonymous"></script>
        <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    </head>

    <body>
        <div class="container">

            <nav class="navbar">
                <div class="container-fluid">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand" href="@routes.HomeController.showIndex()">
                            <img src="@routes.Assets.versioned("images/logo.png")">
                        </a>
                    </div>
                    <div class="collapse navbar-collapse" id="myNavbar">

                    @if(session.get(models.Global.SESSION_USERNAME_KEY).isEmpty) {
                        <ul class="nav navbar-nav navbar-right">
                            <li>
                                <a href="@routes.UserController.showRegister()">
                                    <span class="glyphicon glyphicon-user"></span> Register</a>
                            </li>
                            <li>
                                <a href="@routes.UserController.showLogin()">
                                    <span class="glyphicon glyphicon-log-in"></span> Login</a>
                            </li>
                        </ul>
                    } else {
                        <ul class="nav navbar-nav navbar-right dropdown">
                            <li>
                                <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <span class="glyphicon glyphicon-user"></span> @session.get(models.Global.SESSION_USERNAME_KEY)
                                    <i class="far fa-caret-square-down color-dark-red"></i>
                                </a>
                                <ul class="dropdown-menu dropdown-style-lennert">
                                    <li>
                                        <a href="@routes.AuthenticatedUserController.logout()">
                                            <i class="fas fa-user"> </i> Your account (todo)</a>
                                    </li>
                                    <li>
                                        <a href="@routes.PostController.showAddPost()">
                                            <i class="fas fa-plus"> </i> Add post</a>
                                    </li>
                                    <li>
                                        <a href="@routes.AuthenticatedUserController.logout()">
                                            <i class="fas fa-sign-out-alt"></i> Log out</a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    }
                    </div>
                </div>
            </nav>
            @content
            <footer class="text-center pb-10 col-xs-12">
                <div class="container">
                    <hr>
                    <span class="text-muted footer">&copy; <a class="text-muted footer" href="https://www.lennertbontinck.com/" target="_blank">Lennert Bontinck</a> 2021</span>
                </div>
            </footer>
        </div>
    </body>

</html>