/* ---------------------------- START GENERAL ---------------------------- */

:root {
    --car_pink: #e8175d;
    --car_dark_pink: #7f0d36;
    --bg_grey: #f4f4f4;
    --ef_grey: #efefef;
}

body {
    background-color: var(--bg_grey);
}

a:hover, a:hover * {
    color: var(--car_pink) !important;
    transition: 0.4s all ease;
    text-decoration: none !important;
}

a, a * {
    transition: 0.4s all ease;
    text-decoration: none !important;
}

.pink-color {
    color: var(--car_pink)
}

.unset-color {
    color: unset;
}

.pb-20 {
    padding-bottom: 20px;
}

.mb-20 {
    margin-bottom: 20px;
}

.mw-100 {
    max-width: 100%;
}


/* ---------------------------- END GENERAL ---------------------------- */

/* ---------------------------- START NAVBAR ---------------------------- */
.navbar {
    z-index: 99;
    padding-top: 20px;
    margin-bottom: 55px;
    border-bottom: 2px solid rgba(160, 160, 160, .3);
}

.navbar-brand {
    cursor: pointer;
    width: 184px;
    padding: 0 !important;
    margin-left: 10px !important;
    margin-bottom: 10px !important;
    height: 70px !important;
}

.navbar-brand img {
    max-height: 100%;
}

.navbar-nav > li > a {
    color: black;
    font-size: 19px;
}

@media (min-width: 768px) {
    .navbar-nav > li > a {
        padding-top: 15px;
        padding-bottom: 15px;
    }
}

/* ---------------------------- END NAVBAR ---------------------------- */

/* ---------------------------- START LOGIN/REGISTER PAGE ---------------------------- */

input, textarea {
    outline: none;
    border: none;
}

textarea:focus:-ms-input-placeholder, textarea:focus::-moz-placeholder, textarea:focus:-moz-placeholder,
textarea:focus::-webkit-input-placeholder, input:focus:-ms-input-placeholder, input:focus::-moz-placeholder,
input:focus:-moz-placeholder, input:focus::-webkit-input-placeholder, textarea:focus, input:focus {
    color: transparent !important;
}

textarea::-moz-placeholder, textarea:-ms-input-placeholder, textarea:-moz-placeholder,
textarea::-webkit-input-placeholder, input:-ms-input-placeholder, input::-moz-placeholder,
input:-moz-placeholder, input::-webkit-input-placeholder {
    color: #999999 !important;
}


button {
    outline: none !important;
    border: none;
    background: transparent;
}

button:hover {
    cursor: pointer;
}

.small-text {
    font-size: 13px;
    line-height: 1.5;
    color: #999999;
}

.limiter {
    width: 100%;
    margin: 0 auto;
}

.container-login100 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 15px;
}

.wrap-login100 {
    width: 960px;
    background: #fff;
    border-radius: 10px;
    overflow: hidden;

    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 50px 50px 50px 50px;
}

.login100-pic {
    width: 50%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding-right: 50px;
    border-right: dashed 1px #e8175d;
}

.login100-pic img {
    max-width: 90%;
}

.login100-form {
    width: 45%;
}

.login100-form-title {
    font-size: 24px;
    color: #333333;
    line-height: 1.2;
    text-align: center;
    width: 100%;
    display: block;
    padding-bottom: 5px;
}

.wrap-input100 {
    position: relative;
    width: 100%;
    z-index: 1;
    margin-bottom: 10px;
}

.input-error .errors {
    color: red;
}

.input-error {
    text-align: left;
    padding-left: 35px;
}

.wrap-input100.error input {
    border: 2px solid red !important;
}

.input100 {
    font-size: 15px;
    line-height: 1.5;
    color: #666666;
    display: block;
    width: 100%;
    background: #e6e6e6;
    height: 50px;
    border-radius: 25px;
    padding: 0 30px 0 68px;
}

.focus-input100 {
    display: block;
    position: absolute;
    border-radius: 25px;
    bottom: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    box-shadow: 0 0 0 0;
    color: rgba(232, 23, 93, 0.8);
}

.input100:focus + .focus-input100 {
    -webkit-animation: anim-shadow 0.5s ease-in-out forwards;
    animation: anim-shadow 0.5s ease-in-out forwards;
}

@-webkit-keyframes anim-shadow {
    to {
        box-shadow: 0 0 70px 25px;
        opacity: 0;
    }
}

@keyframes anim-shadow {
    to {
        box-shadow: 0 0 70px 25px;
        opacity: 0;
    }
}

.symbol-input100 {
    font-size: 15px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    align-items: center;
    position: absolute;
    border-radius: 25px;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding-left: 35px;
    pointer-events: none;
    color: #666666;

    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;
}

.input100:focus + .focus-input100 + .symbol-input100 {
    color: #e8175d;
    padding-left: 28px;
}

.container-login100-form-btn {
    width: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 20px;
}

.login100-form-btn {
    font-size: 15px;
    line-height: 1.5;
    color: #fff;
    text-transform: uppercase;

    width: 100%;
    height: 50px;
    border-radius: 25px;
    background: #e8175d;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 25px;

    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;
}

.login100-form-btn:hover {
    background: #333333;
}

@media (max-width: 992px) {
    .wrap-login100 {
        padding: 177px 90px 33px 85px;
    }

    .login100-pic {
        width: 35%;
    }

    .login100-form {
        width: 50%;
    }
}

@media (max-width: 768px) {
    .wrap-login100 {
        padding: 100px 80px 33px 80px;
    }

    .login100-pic {
        display: none;
    }

    .login100-form {
        width: 100%;
    }
}

@media (max-width: 576px) {
    .wrap-login100 {
        padding: 100px 15px 33px 15px;
    }
}


/* ---------------------------- END LOGIN/REGISTER PAGE ---------------------------- */

/* ---------------------------- START POST LIST ITEM ---------------------------- */
.post-list-item {
    height: 100%;
    background: #fff none repeat scroll 0 0;
    padding: 50px 30px;
    position: relative;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.15);
    z-index: 2;
    transition: all 0.3s ease 0s;
    margin-bottom: 50px;
    border-radius: 10px;
}

.post-list-item:hover {
    box-shadow: 0 60px 60px rgba(0, 0, 0, 0.1);
    position: relative;
    z-index: 100;
    transform: translate(0, -10px);
}

.post-list-item-photo {
    text-align: center;
    margin: auto;
    overflow: hidden;
}

.post-list-item-photo img {
    width: 100%;
    overflow: hidden;
    transition: 0.4s all ease;
    border-radius: 10px;
}

.post-list-item-photo img:hover {
    transform: scale(.95);
    transition: 0.4s all ease;
}

.post-list-item-description {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
}

.post-list-item-like, .post-comment-meta {
    color: unset;
    display: block;
    margin-bottom: 20px;
    text-align: center;
    font-size: 10px;
}

.post-list-item-like i, .post-comment-meta i {
    font-size: 50px;
}

.post-read-more {
    border: 1px solid var(--car_pink);
    background-color: var(--car_pink);
    color: white;
    border-radius: 10px;
    padding: 5px 15px;
    font-size: 16px;
    display: block;
    text-align: center;
    margin-bottom: 20px;
}

.post-read-more:hover {
    border: 1px solid var(--car_pink);
    background-color: white;
    color: white;
    border-radius: 10px;
    padding: 5px 15px;
}

.liked {
    color: var(--car_pink);
}

.push-right-icon {
    display: block;
    text-align: center;
    margin-bottom: 3px;
}

.post-list-item-comments .comment {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    height: 3em;
}

.sorting {
    padding-bottom: 40px;
}

.sorting a {
    color: unset;
}

/* ---------------------------- END POST LIST ITEM ---------------------------- */

/* ---------------------------- START SINGLE POST ---------------------------- */

.single-post-post, .single-post-comments {
    height: 100%;
    background: #fff none repeat scroll 0 0;
    padding: 50px 30px;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.15);
    margin-bottom: 50px;
    border-radius: 10px;
}

.single-post-post h1, .single-post-comments h2 {
    margin-top: 0;
}

@media (min-width: 768px) {
    .bl-md {
        border-left: 2px solid var(--ef_grey);
    }
}

.bb {
    border-bottom: 2px solid var(--ef_grey);
}

.single-post-image img {
    margin: 20px 0;
    max-width: 100%;
    max-height: 850px;
}

.single-post-image {
    text-align: center;
}

.single-post-description {
    font-size: 20px;
    text-align: justify;
}



/* ---------------------------- END SINGLE POST ---------------------------- */

/* ---------------------------- START ADD POST ---------------------------- */

.add-post-form-btn {
    font-size: 15px;
    line-height: 1.5;
    color: #fff;
    text-transform: uppercase;
    cursor: pointer;
    font-weight: 400 !important;

    width: 100%;
    height: 50px;
    border-radius: 25px;
    background: var(--car_pink);
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 25px;

    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;
}


.add-post-form-btn:hover {
    background: #333333;
}

.add-post-form-btn a {
    color: white !important;
}

/* ---------------------------- END ADD POST ---------------------------- */